html {
    font-family: 'Courier New', Courier, monospace;
    background: rgb(16, 15, 34);
    color: white;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.options {
    height: 200px;
    width: 200px;
    padding: 40px;
}